.message-center {
	display: flex;
	align-items: flex-start;
	justify-items: center;

	.message-center-nav {
		flex-direction: column;
		display: flex;
		margin: 0 2em;

		.message-center-title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.5em;
		}

		.message-center-contacts {
			display: flex;
			flex-direction: column;
		}
  }

  .contact-selected {
    color: black;
    border: 1px solid black;
    background-color: transparent;
  }

  .contact-selected:hover {
    background-color: rgba(0,0,0,0.1);
  }
  
	.message-center-messages {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		margin: 0 2em;
  }
  
  .messages-recipient-name {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0.2em 0;
    margin: 0;
  }

	.messages-list {
    display: flex;
    flex-direction: column;
		background-color: #fff;
		height: 30em;
    width: 30em;
    overflow-y: scroll;
    margin-bottom: 0.5em;

    .message {
      display: flex;
      flex-direction: column;
      padding: 0.4em;
    }

    .message-bubble {
      display: flex;
      padding: 0.5em 1em;
      margin: 0;
      width: fit-content;

      .message-content {
        max-width: 22em;
        width: fit-content;
        margin: 0;
      }
    }

    .message-time {
      color: grey;
      text-align: end;
      font-size: smaller;
      padding: 0 0.1em;
    }
    
		.message-me {
      background-color: #fcfafa;
      align-self: stretch;
      
      .message-bubble {
        align-self: flex-end;
        background-color: peachpuff;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
		}
		.message-them {
      align-self: flex-start;
      
      .message-bubble {
        background-color: rgb(148, 230, 233);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
		}
  }
  
  .message-send {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-self: start;
    align-items: center;

    textarea {
      flex-grow: 1;
      height: 3em;
    }

    button {
      height: 100%;
      margin: 0 0 0 0.5em;
      height: 3em;
    }
  }
}
