.explore {
  width: 85vw;
  max-width: 75em;
  
  .nav {
    display: flex;
    align-items: center;
    .create-button {
      margin-left: auto;
    }
  }

  .previewslist {
    margin-bottom: 3em;
  }

  .filter-select {
    background-color: #000;
    color: #fff;
    height: 2.2em;
    padding: 0 0.5em;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    outline: none;
    margin: 6px 8px;
  }

  .filter-select:hover {
    background-color: #303030;
  }
}