.footer {
	position: relative;
	bottom: 0;
  width: 100%;
  
  .logo {
    font-family: eventLogo;
    font-weight: bold;
  }

	hr {
    width: 85vw;
    max-width: 75em;
  }
  
	ul {
		display: flex;
    justify-content: center;
    
		li {
			display: inline-block;
    }
    
    a {
      margin: 1em;
    }

		img {
			height: 2em;
			width: 2em;
			border-radius: 50%;
		}
  }
  
  .footer-links {
    padding-right: 1em;
  }
}
