.highlightslist-title {
	font-size: 2em;
}

.highlightslist-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.highlightslist-image {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.highlightslist-cap {
	font-size: 1em;
	align-self: center;
}
