.highlightslist {
  display: flex;
  justify-content: center;
  
  .highlightslist-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 730px;
    padding: 0;
  }
}
