nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
	align-items: center;
	justify-content: space-between;
	.logo-image {
		height: 50px;
		width: 50px;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		li {
			margin: 0 1em;
			list-style: none;
		}
	}
}
