nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

	.logo {
		font-family: eventLogo;
		font-size: 2em;
		font-weight: 800;
		padding: 0.2em 0.4em;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 0;

		li {
			margin: 0 1em;
			list-style: none;
		}
	}
}

.nav-action {
  cursor: pointer;
  
  .nav-action__icon {
    margin-left: 0.4em;
    font-size: smaller;
    margin-right: -5px;
  }
}

.dropdown {
  transform: scaleY(0);
  transform-origin: top;
	position: absolute;
	top: 51px;
	right: 170px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	z-index: 11;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0s;

	li, a {
		padding: 0.2em 0.5em;
		margin: 5px;
    border-radius: 5px;
    cursor: pointer;
	}

	li:hover, a:hover {
		background-color: lightgrey;
  }
}

.dropdown__open {
  transform: scaleY(1);
  transition: transform 0.15s ease-in-out;
}

.dropdown__create {
  top: 51px;
	right: 115px;
}

.dropdown__login {
	top: 51px;
	right: 0px;
}

.drop-down__overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
