nav {
  display: flex;
	justify-content: space-between;
	align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

	.logo {
    font-family: eventLogo;
    font-size: 2em;
    font-weight: 800;
    padding: 0.2em 0.4em;
  }
  
	ul {
		display: flex;
		align-items: center;
    justify-content: space-evenly;
    margin: 0;

		li {
			margin: 0 1em;
			list-style: none;
		}
	}
}
