.preview-card {
	display: flex;
	flex-direction: column;
	width: 15em;

	.preview-cover {
		position: relative;
		width: 100%;
	}

	.preview-info {
		display: flex;
		flex-direction: column;

		background-color: grey;
	}
}
