.previewsList-list {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.previewsList-list-item {
	margin: 1em;
}

// To Quinn: Why does this one not work? (Angel)
.previewsList-message {
	text-align: center;
}

h4 {
	text-align: center;
}

.no-item-message {
  margin-top: 10em;
}