.user-profile {
	width: 500px;
	background-color: #ffffff;
	padding: 1em 2em;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	.profile-main-title {
		text-align: center;
	}
	.profile-talent-profile-name {
		padding: 0.25em;
		font-weight: bold;
		word-wrap: break-word;
	}
	.profile-sub-item {
		margin: 0.25em;
		padding: 0.25em 0.5em;
		background-color: lightgrey;
		word-wrap: break-word;

		.profile-sub-item-title {
			font-weight: bolder;
			word-wrap: break-word;
		}
	}
}
