form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form-group {
    margin: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div {
      font-size: 0.9em;
      font-weight: bold;
      color: red;
    }
  }

  select {
    font-size: 1em;
  }

  input {
    font-size: 1em;
  }

  textarea {
    font-size: 1em;
  }

  .form-submit {
    margin: 0.4em;
    align-self: center;
  }
}

.talent-invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  .invite-text {
    margin: 0.5em;

    .talent-name {
      font-size: large;
      font-weight: bold;
    }
  }

  form {
    align-items: stretch;
    text-align: start;

    .form-group {
      align-items: inherit;
    }
  }
}

.success-message {
  margin: 3em;
}